<table class="table table-hover">
    <tr>
        <td width="70px">
            <a href="{{ url_for('user', username=p.author.username) }}">
                <img src="{{ p.author.avatar(70) }}" />
            </a>
        </td>
        <td>
            <a href="{{ url_for('user', username=p.author.username) }}">
                {{ p.author.username }}
            </a>
            said {{ moment(p.timestamp).fromNow() }}:
            <br>
            {{ p.body }}
        </td>
    </tr>
</table>
